<div class="body-devise">
  <div class="field">
    <div class="field-inner">
      <h2>Sign In</h2>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

        <div class="field-text">
          <%= f.label :nickname %> <em>(6 characters maximum)</em><br />
          <%= f.text_field :nickname, placeholder: "Nickname", class:'text-box', autofocus: true, maxlength: "6" %>
        </div>

        <div class="field-text">
          <%= f.label :email %><br />
          <%= f.email_field :email, placeholder: "Email", class:'text-box', autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field-text">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, placeholder: "Password", class:'text-box', autocomplete: "new-password" %>
        </div>

        <div class="field-text">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, placeholder: "Password", class: 'text-box', autocomplete: "new-password" %>
        </div>

        <div class="field-text">
          <%= f.hidden_field :image, :value => 'sample.png'%>
        </div>
        
        <div class="actions">
          <%= f.submit "Sign In", class:'sign-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

