<%= render "shared/header" %>
<div class="contents_low">
  <% @articles.each do |article| %>
    <div class="more", id="more">
      <div class="articles">
        <% article.images.first(1).each do |image| %>
          <%= link_to image_tag(image, class: "images"), article_path(article.id)%>
        <% end %>
      </div>
      <hr>
      <div class="name">
          <div class="store-name>">店舗名_<%= article.store_name %></div>
          <div class="addoress">住所_<%= article.address %></div>
          <div class="text-form">投稿内容_</b><%= article.text %></div>
        </div>
    </div>
  <% end %>
</div>
