<%= render "shared/header" %>
<div class="contents_low">
  <% @articles.each do |article| %>
    <div class="more", id="more">
      <div class="articles">
        <% article.images.each do |image| %>
          <%= image_tag image.variant(resize: '80%x50%'), class: "images" %>
        <% end %>
      </div>
      <span class="name">
        <%= article.store_name %>
        <%= article.address %>
        <span>投稿者</span><%= link_to article.user.nickname, user_path(article.user.id) %>
      </span>
      <ul class="more-list">
        <li>
          <%= link_to '詳細', article_path(article.id)%>
        </li>
        <% if user_signed_in? && current_user.id == article.user_id %>
          <li>
            <%= link_to '編集', edit_article_path(article.id), method: :get %>
          </li>
          <li>
            <%= link_to "削除", article_path(article.id), method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
