<%= render "shared/header" %>
<div class="contents_low">
  <div class="show-more">
    <div class="articles">
    <%= image_tag @article.images.first, class: "main__image" %>
      <% @article.images.each do |image| %>
        <%= image_tag image, class: "images" %>
      <% end %>
    </div>
    <table class="date-name">
      <tbody>
        <tr>
          <th class="deta-item">店舗名</th>
          <td class="date-value"><%= @article.store_name %><td>
        </tr>
        <tr>
          <th class="deta-item">住所</th>
          <td class="date-value"><%= @article.address %><td>
        </tr>
      </tbody>
    </table>
    <div class="article-text">
      <%= link_to @article.user.nickname, user_path(@article.user.id) %>
      <%= @article.text %>
    </div>
    <% if user_signed_in? && current_user.id == @article.user_id %>
      <ul class="more-list">
        <li class="list">
          <%= link_to '編集', edit_article_path(@article.id), method: :get, class: "item-edit" %>
        </li>
        <li class="list">
          <%= link_to "削除", article_path(@article.id), method: :delete, class: "item-destroy" %>
        </li>
      </ul>
    <% end %>
  </div>
  <h2>いいねの数: <%= @article.likes.count %></h2>
  <% unless current_user.id == @article.user_id %>
    <% if current_user.already_liked?(@article) %>
      <%= button_to 'いいねを取り消す', article_like_path(@article), method: :delete %>
    <% else %>
      <%= button_to 'いいね', article_likes_path(@article) %>
    <% end %>
  <% end %>
  <h3>地図</h3>
  <div id='map'></div>
  <h4>コメントを送る</h4>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with model: [@article, @comment], class: :form_comments, local: true do |f| %>
        <%= f.text_area :text, placeholder: "コメントする" %>
        <%= f.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <div class="comments">
    <h5>＜コメント一覧＞</h5>
    <% @comments.each do |comment| %>
      <p>
        <strong><%= link_to comment.user.nickname, user_path(comment.user_id) %>：</strong>
        <%= comment.text %>
      </p>
    <% end %>
  </div>

  <style type="text/css">
    #map {
      height: 200px;
      width: 100%;
    }
  </style>
  <script type="text/javascript">
    function initMap() {
      var test = {lat: <%= @article.latitude %>, lng: <%= @article.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15, 
        center: test
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);
      var contentString = '住所：<%= @article.address %>';
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
        position:test,
        map: map,
        title: contentString
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['MAP_API_KEY'] %>&callback=initMap">
  </script>
</div>
