<%= render "shared/header" %>
<div class="contents row">
  <div class="more">
    <div class="articles">
      <% @article.images.each do |image| %>
        <%= image_tag image, class: "images" %>
      <% end %>
    </div>
    <p><%= @article.text %></p>
    <span class="name">
      <%= @article.store_name %>
    </span>
    <ul class="more-list">
      <li>
        <%= link_to '編集', edit_article_path(@article.id), method: :get %>
      </li>
      <li>
        <%= link_to "削除", article_path(@article.id), method: :delete %>
      </li>
    </ul>
  </div>
  <h3>いいね件数: <%= @article.likes.count %></h3>
  <% if current_user.already_liked?(@article) %>
    <%= button_to 'いいねを取り消す', article_like_path(@article), method: :delete %>
  <% else %>
    <%= button_to 'いいね', article_likes_path(@article) %>
  <% end %>
  <div id='map'></div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@article, @comment], local: true) do |f| %>
        <%= f.text_area :text, placeholder: "コメントする" %>
        <%= f.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <div class="comments">
    <h4>＜コメント一覧＞</h4>
    <% @comments.each do |comment| %>
      <p>
        <strong><%= link_to comment.user.nickname, user_path(comment.user_id) %>：</strong>
        <%= comment.text %>
      </p>
    <% end %>
  </div>

  <style type="text/css">
    #map {
      height: 200px;
      width: 70%;
    }
  </style>
  <script type="text/javascript">
    function initMap() {
      var test = {lat: <%= @article.latitude %>, lng: <%= @article.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15, 
        center: test
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);
      var contentString = '住所：<%= @article.address %>';
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
        position:test,
        map: map,
        title: contentString
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['MAP_API_KEY'] %>&callback=initMap">
  </script>
</div>
