<%= render "shared/header" %>
<h1>投稿詳細</h1>
<div class="contents_low">
  <div class="show-more">
    <div class="articles">
      <div class="main-image">
        <%= image_tag @article.images.first, class: "images" %>
      </div>
      <div class="grid-image">
        <% @article.images.each do |image| %>
          <%= image_tag image, class: "article-image" %>
        <% end %>
      </div>
    </div>
    <div class="name-area">
      <div class="store-name>">店舗名_<%= @article.store_name %></div>
      <div class="address-name">住所_<%= @article.address %></div>
      <div class="text-name">投稿内容_<%= @article.text %></div>
      <%= link_to @article.user.nickname, user_path(@article.user.id) %>
    </div>
    <% if user_signed_in? && current_user.id == @article.user_id %>
      <ul class="more-list">
        <li class="list">
          <%= link_to '編集', edit_article_path(@article.id), method: :get, class: "item-edit" %>
        </li>
        <li class="list">
          <%= link_to "削除", article_path(@article.id), method: :delete, class: "item-destroy" %>
        </li>
      </ul>
    <% end %>
  </div>
  <h2>いいねの数: <%= @article.likes.count %></h2>
  <% unless current_user.id == @article.user_id %>
    <% if current_user.already_liked?(@article) %>
      <%= button_to 'いいねを取り消す', article_like_path(@article), method: :delete %>
    <% else %>
      <%= button_to 'いいね', article_likes_path(@article) %>
    <% end %>
  <% end %>
  <h3>地図</h3>
  <div id='map'></div>
  <h4>コメントを送る</h4>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with model: [@article, @comment], class: :form_comments, local: true do |f| %>
        <%= f.text_area :text, placeholder: "コメントする" %>
        <%= f.submit "送信", class: "submit" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <h5>＜コメント一覧＞</h5>
  <div class="comments">
    <% @comments.each do |comment| %>
      <div class="coment-list">
        <%= link_to comment.user.nickname, user_path(comment.user_id) %>
        <%= comment.text %>
      </div>
    <% end %>
  </div>

  <style type="text/css">
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
  <script type="text/javascript">
    function initMap() {
      var test = {lat: <%= @article.latitude %>, lng: <%= @article.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15, 
        center: test
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);
      var contentString = '住所：<%= @article.address %>';
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
        position:test,
        map: map,
        title: contentString
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['MAP_API_KEY'] %>&callback=initMap">
  </script>
</div>
