<div class="contents row">
  <div class="more">
    <span><%= image_tag @article.image, class: "article-img" %></span>
    <ul class="more-list">
      <li>
        <%= link_to '編集', edit_article_path(@article.id), method: :get %>
      </li>
      <li>
        <%= link_to "削除", article_path(@article.id), method: :delete %>
      </li>
    </ul>
    <p><%= @article.text %></p>
    <span class="name">
      <%= @article.store_name %>
    </span>
  </div>
  <h3>いいね件数: <%= @article.likes.count %></h3>
  <% if current_user.already_liked?(@article) %>
    <%= button_to 'いいねを取り消す', article_like_path(@article), method: :delete %>
  <% else %>
    <%= button_to 'いいね', article_likes_path(@article) %>
  <% end %>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@article, @comment], local: true) do |f| %>
        <%= f.text_area :text, placeholder: "コメントする" %>
        <%= f.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, user_path(comment.user_id) %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
</div>