<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="notification-box">
  <%= image_tag visitor.image, class: "icon" %>
  <%= link_to user_path(visitor) do %>
    <%= visitor.nickname %>
    <%= 'さんが' %>
    <% case notification.action %>
    <% when 'follow' %>
      <%= "あなたをフォローしました" %>
    <% when 'like' %>
      <%= link_to 'あなたの投稿', notification.article %>
      <%= "にいいねしました" %>
    <% when 'comment' %>
      <% if notification.article.user_id == visited.id %>
        <%= link_to "あなたの投稿", notification.article %>
        <%= "にコメントしました" %>
      <% else %>
        <%= notification.article.user.nickname %>
        <%= 'さんの投稿にコメントしました' %>
        <%= Comment.find_by(id: notification.comment_id)&.committed! %>
      <% end %>
    <% end %>
  <% end %>
</div>