<%= render "shared/header" %>
<div class="contents_row">
  <div class="container">
    <h1>アカウント情報編集</h1>
    <h2>変更したい項目を入力してください</h2>
    <div class="user-edit">
      <%= form_with model: @user, url: user_path, method: :patch, class: "form-class", local: true do |f| %>

          <%= render 'shared/error_messages', model: f.object %>

        <div class="field">
          <%= f.label :"プロフィール画像"%><br />
          <%= f.file_field :image %>
        </div>
        <div class="field">
          <%= f.label :"ニックネーム"%><br />
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
        </div>
        <div class="field">
          <%= f.label :"メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :"現在のパスワード" %> <i>(入力必須)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
        <div class="field">
          <%= f.label :"変更後のパスワード" %> <i>(パスワード変更時入力)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :"変更確認パスワード" %><i>(パスワード変更時入力)</i><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="actions">
          <%= f.submit "更新", class: "submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>