<%= render "shared/header" %>
<div class="contents row">
  <p><%= @user.nickname %>さんの投稿一覧</p>
  <% unless @user.id == current_user.id %>
    <% if @isRoom == true %>
      <%= link_to "ダイレクトメッセージ", room_path %>
    <% else %>
      <%= form_with model: @room, local: true do |f| %>
        <%= fields_for @Entry do |r| %>
          <%= r.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" %>
      <% end %>
    <% end %>
  <% end %>
  <%= render "shared/follow", user: @user %>
  <% if @user.id == current_user.id %>
    <%= link_to "フォロー: #{@user.followings.count}", followings_user_path(@user.id) %>
    <%= link_to "フォロワー: #{@user.followers.count}", followers_user_path(@user.id) %>
  <% end %>
  <% @articles.each do |article| %>
    <span><%= image_tag article.images[0], class: "article-img" %></span>
    <p><%= article.text %></p>
    <span class="name"><%= article.store_name %></span>
  <% end %>
  <h3>いいねしている投稿</h3>
  <% @user.like_articles.each do |article| %>
  <%= image_tag article.images[0], class: "article-img" %>
    <%= article.store_name %>
    <%= article.text %>
<% end %>