<%= render "shared/header" %>
<div class="contents_low">
  <div class="user-pro"><%= @user.nickname %>さんのプロフィール</div>
  <%= image_tag "#{@user.image}", class: "image-icon" %>
  <%= link_to 'アカウント情報編集', edit_user_path, method: :get, class: "lists" %>
  <% unless @user.id == current_user.id %>
    <% if @isRoom == true %>
      <%= link_to "メッセージを送る", room_path %>
    <% else %>
      <%= form_with model: @room, local: true do |f| %>
        <%= fields_for @Entry do |r| %>
          <%= r.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" %>
      <% end %>
    <% end %>
  <% end %>
  <%= render "shared/follow", user: @user %>
  <% if @user.id == current_user.id %>
    <span>
      <%= link_to "フォロー: #{@user.followings.count}", followings_user_path(@user.id) %>
      <%= link_to "フォロワー: #{@user.followers.count}", followers_user_path(@user.id) %>
    </span>
  <% end %>
  <h1>投稿一覧</h1>
  <div class="contents_low" >
    <div class="article-list">
      <% @articles.each do |article| %>
        <%= link_to image_tag(article.images[0], class: "images"), article_path(article.id) %>
        <div class="name">
          <div class="store-name>">店舗名_<%= article.store_name %></div>
          <div class="addoress">住所_<%= article.address %></div>
          <div class="text-form">投稿内容_</b><%= article.text %></div>
          <div class="more-list">
            <% if user_signed_in? && current_user.id == article.user_id %>
              <%= link_to '編集', edit_article_path(article.id), method: :get, class: "lists" %>
              <%= link_to "削除", article_path(article.id), method: :delete, class: "lists" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <h2>いいねしている投稿</h2>
    <div class="article-list">
      <% @user.like_articles.each do |article| %>
        <%= link_to image_tag(article.images[0], class: "images"), article_path(article.id) %>
        <div class="name">
          <div class="store-name>">店舗名<%= article.store_name %></div>
          <div class="addoress">住所<%= article.address %></div>
          <div class="text-form">投稿内容</b><%= article.text %></div>
          <div class="more-list">
            <% if user_signed_in? && current_user.id == article.user_id %>
              <%= link_to '編集', edit_article_path(article.id), method: :get, class: "lists" %>
              <%= link_to "削除", article_path(article.id), method: :delete, class: "lists" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>