<%= render "shared/header" %>
<div class="contents_row">
  <p><%= @user.nickname %>さんのプロフィール</p>
  <% unless @user.id == current_user.id %>
    <% if @isRoom == true %>
      <%= link_to "メッセージを送る", room_path %>
    <% else %>
      <%= form_with model: @room, local: true do |f| %>
        <%= fields_for @Entry do |r| %>
          <%= r.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" %>
      <% end %>
    <% end %>
  <% end %>
  <%= render "shared/follow", user: @user %>
  <% if @user.id == current_user.id %>
    <%= link_to "フォロー: #{@user.followings.count}", followings_user_path(@user.id) %>
    <%= link_to "フォロワー: #{@user.followers.count}", followers_user_path(@user.id) %>
  <% end %>
  <h1>投稿一覧</h1>
  <div class="contents_low" >
    <% @articles.each do |article| %>
      <div class="article-list">
        <%= image_tag article.images[0], class: "images" %>
        <div class="name">
          <p>　店舗名　<%= article.store_name %></p>
          <p>　住所　<%= article.address %></p>
          <p>　投稿内容　<%= article.text %></p>
          <div class="more-list">
            <% if user_signed_in? && current_user.id == article.user_id %>
              <%= link_to '編集', edit_article_path(article.id), method: :get, class: "lists" %>
              <%= link_to "削除", article_path(article.id), method: :delete, class: "lists" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <h2>いいねしている投稿</h2>
    <div class="article-list">
      <% @user.like_articles.each do |article| %>
        <%= image_tag article.images[0], class: "images" %>
        <div class="name">
          <p>　投稿者　<%= article.user.nickname %></p>
          <p>　店舗名　<%= article.store_name %></p>
          <p>　住所　<%= article.address %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>